In [34]:
import pandas as pd
import pandapower as pp
import pandapower.networks as nw

#Create an empty network 
net = pp.create_empty_network()

In [35]:
# Create double busbar to connect  form Ext_Grid to our Grid system (380Kv)
pp.create_bus(net, name='Double BB 1', vn_kv=380, type='b')
pp.create_bus(net, name='Double BB 2', vn_kv=380, type='b')

1

In [37]:
# Create nodes for EHV Feeders lets say we have 3 feeders conncted to the Double Bus so here we need to create 2*3 Nodes
for i in range(6): 
    pp.create_bus(net, name='GIS T%s' % i, vn_kv=380, type='n')
# Now we create 
for i in range(1, 3):
    pp.create_bus(net, name='GIS %s' % i, vn_kv=380, type='n')
# Single busbar
pp.create_bus(net, name='Single Busbar', vn_kv=110, type='b')
for i in range(1, 6):
    pp.create_bus(net, name='Bus SB %s' % i, vn_kv=110, type='n')
for i in range(1, 6):
    for j in [1, 2]:
        pp.create_bus(net, name='Bus SB T%s.%s' % (i, j), vn_kv=110, type='n')

# Remaining buses
for i in range(1, 5):
    pp.create_bus(net, name='Bus HV%s' % i, vn_kv=110, type='n')

# show bustable
net.bus

             name  vn_kv type  zone  in_service
0     Double BB 1  380.0    b  None        True
1     Double BB 2  380.0    b  None        True
2          GIS T0  380.0    n  None        True
3          GIS T1  380.0    n  None        True
4          GIS T2  380.0    n  None        True
5          GIS T3  380.0    n  None        True
6          GIS T4  380.0    n  None        True
7          GIS T5  380.0    n  None        True
8           GIS 1  380.0    n  None        True
9           GIS 2  380.0    n  None        True
10  Single Busbar  110.0    b  None        True
11       Bus SB 1  110.0    n  None        True
12       Bus SB 2  110.0    n  None        True
13       Bus SB 3  110.0    n  None        True
14       Bus SB 4  110.0    n  None        True
15       Bus SB 5  110.0    n  None        True
16    Bus SB T1.1  110.0    n  None        True
17    Bus SB T1.2  110.0    n  None        True
18    Bus SB T2.1  110.0    n  None        True
19    Bus SB T2.2  110.0    n  None        True
20    Bus SB T3.1  110.0    n  None        True
21    Bus SB T3.2  110.0    n  None        True
22    Bus SB T4.1  110.0    n  None        True
23    Bus SB T4.2  110.0    n  None        True
24    Bus SB T5.1  110.0    n  None        True
25    Bus SB T5.2  110.0    n  None        True
26        Bus HV1  110.0    n  None        True
27        Bus HV2  110.0    n  None        True
28        Bus HV3  110.0    n  None        True
29        Bus HV4  110.0    n  None        True

In [43]:
net.bus.loc[net.bus['name'] == 'Bus SB 1']

        name  vn_kv type  zone  in_service
11  Bus SB 1  110.0    n  None        True

In [45]:
line1 = pp.create_line(net, net.bus.loc[net.bus['name'] == 'Bus SB 1'].index[0], net.bus.loc[net.bus['name'] == 'Bus SB 2'].index[0], length_km=10, std_type="N2XS(FL)2Y 1x300 RM/35 64/110 kV",  name="Line 1")
line2 = pp.create_line(net, net.bus.loc[net.bus['name'] == 'Bus SB 1'].index[0], net.bus.loc[net.bus['name'] == 'Bus SB 3'].index[0], length_km=2.0, std_type="NA2XS2Y 1x240 RM/25 12/20 kV", name="Line 2")
line3 = pp.create_line(net, net.bus.loc[net.bus['name'] == 'Bus SB 1'].index[0], net.bus.loc[net.bus['name'] == 'Bus SB 4'].index[0], length_km=3.5, std_type="48-AL1/8-ST1A 20.0", name="Line 3")
line4 = pp.create_line(net, net.bus.loc[net.bus['name'] == 'Bus SB 1'].index[0], net.bus.loc[net.bus['name'] == 'Bus SB 5'].index[0], length_km=2.5, std_type="NA2XS2Y 1x240 RM/25 12/20 kV", name="Line 4")

In [55]:
net.line

,name,std_type,from_bus,to_bus,length_km,r_ohm_per_km,x_ohm_per_km,c_nf_per_km,g_us_per_km,max_i_ka,df,parallel,type,in_service
0,Line 1,N2XS(FL)2Y 1x300 RM/35 64/110 kV,11,12,10.0,0.0600,0.144,144.0,0.0,0.588,1.0,1,cs,True
1,Line 2,NA2XS2Y 1x240 RM/25 12/20 kV,11,13,2.0,0.1220,0.112,304.0,0.0,0.421,1.0,1,cs,True
2,Line 3,48-AL1/8-ST1A 20.0,11,14,3.5,0.5939,0.372,9.5,0.0,0.210,1.0,1,ol,True
3,Line 4,NA2XS2Y 1x240 RM/25 12/20 kV,11,15,2.5,0.1220,0.112,304.0,0.0,0.421,1.0,1,cs,True

In [51]:
#pp.plotting.simple_plot(net, respect_switches=False, line_width=1.0, bus_size=1.0, ext_grid_size=1.0, trafo_size=1.0, plot_loads=False, plot_gens=False, plot_sgens=False, load_size=1.0, gen_size=1.0, sgen_size=1.0, switch_size=2.0, switch_distance=1.0, plot_line_switches=False, scale_size=True, bus_color='blue', line_color='grey', dcline_color='c', trafo_color='k', ext_grid_color='y', switch_color='r', library='igraph', show_plot=True, ax=None)

In [59]:
hv_bus = pp.get_element_index(net, "bus", "Bus SB 2")
lv_bus = pp.get_element_index(net, "bus", "Bus SB 1")
pp.create_transformer_from_parameters(net, hv_bus, lv_bus, sn_mva=300, vn_hv_kv=380, vn_lv_kv=240, vkr_percent=0.06,
                                      vk_percent=8, pfe_kw=0, i0_percent=0, tp_pos=0, shift_degree=0, name='EHV-HV-Trafo')

net.trafo # show trafo table

,name,std_type,hv_bus,lv_bus,sn_mva,vn_hv_kv,vn_lv_kv,vk_percent,vkr_percent,pfe_kw,i0_percent,shift_degree,tap_side,tap_neutral,tap_min,tap_max,tap_step_percent,tap_step_degree,tap_pos,tap_phase_shifter,parallel,df,in_service,tp_pos
0,EHV-HV-Trafo,None,12,11,300.0,380.0,110.0,8.0,0.06,0.0,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True,0.0
1,EHV-HV-Trafo,None,12,11,300.0,380.0,240.0,8.0,0.06,0.0,0.0,0.0,None,NaN,NaN,NaN,NaN,NaN,NaN,False,1,1.0,True,0.0